.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(262.69deg, #339933 -0.43%, #006300 104.36%);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.container img {
  width: 420px;
  height: 420px;
  object-fit: cover;
}

.content h2 {
  font-size: 90px;
  line-height: 108px;
}

.content span {
  font-size: 50px;
  line-height: 60px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form input {
  margin-top: 50px;
  padding: 20px 50px;
  font-size: 18px;
  border-radius: 25px;
  border: none;
}

.form button {
  padding: 14px;
  text-align: center;
  border-radius: 25px;
  border: 2px solid white;
  font-size: 25px;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 720px) {
  .container img {
    width: 350px;
    height: 350px;
  }

  .content h2 {
    font-size: 60px;
  }

  .content span {
    font-size: 30px;
    line-height: 30px;
  }
}
