.container {
  padding: 20px;
}

.container h2 {
  margin-bottom: 10px;
}

.container_store {
  width: 800px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #c0c0c0;
}

.container_store a {
  transition: color 0.2s;
}

.container_store a:hover {
  transition: color 0.2s;
  color: #339933;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.content h3 {
  width: 800px;
}

@media (max-width: 1276px) {
  .container_store {
    width: 100%;
  }
  .content {
    flex-direction: column;
  }
}

@media (max-width: 780px) {
  .container {
    margin-top: 116px;
  }
}
