.discount {
  min-width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.price {
  font-size: 30px;
  font-weight: 600;
}

.price span {
  font-size: 20px;
}

.disc_price {
  color: #8b8b8b;
  font-size: 20px;
  font-weight: 400;
  text-decoration: line-through;
}

.descr_font {
  font-size: 70px;
}

.procent {
  color: #ff32a1;
  font-weight: 600;
  font-size: 20px;
}

.basket {
  display: none;
}
