.category_card {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.category_card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 15px;
}
