.container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

.contacts {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.contacts span {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
}

.contacts a {
  margin-bottom: 15px;
  font-weight: 600;
}

.contacts_tel {
  font-size: 40px;
}

.contacts_links {
  display: flex;
  gap: 25px;
  align-items: center;
  text-align: center;
  font-size: 15px;
}

.contacts_links img {
  width: 35px;
  height: 35px;
}

.contacts_adress {
  text-decoration: underline;
  font-size: 20px;
  margin-bottom: 15px;
}

.adress_hours {
  font-size: 25px;
}

.iframe {
  width: 550px;
  height: 339px;
  margin: 10px;
  border: none;
}
