.item {
  width: 800px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid#c0c0c0;
}

.item img {
  width: 190px;
  height: 170px;
  object-fit: cover;
  margin-right: 30px;
  border-radius: 15px;
}

.item_info {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.item_info p {
  font-size: 18px;
  font-weight: 600;
}

.item_info_btns {
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
}

.item_info_btns button {
  font-size: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.item_del {
  margin-left: 40px;
}

.item_del button {
  width: 25px;
  height: 25px;
  color: #ffffff;
  border: none;
  background-color: #339933;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.item_del button:hover {
  background-color: #297929;
  transition: background-color 0.2s;
}
